<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAl9VtUSQNAwLw-sKcUGe-JRKQKrghnI5I</string>
	<key>GCM_SENDER_ID</key>
	<string>1084458003329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abloom.ABloom</string>
	<key>PROJECT_ID</key>
	<string>mery-e2cff</string>
	<key>STORAGE_BUCKET</key>
	<string>mery-e2cff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084458003329:ios:74b1934ddb9b522df25680</string>
</dict>
</plist>